<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8"/>
<title>Event Rating Analytics</title>
</head>
<body>
	Choose from the following analytics.
	<h1>Per Event</h1>
	<br/> <a href="/events/allratings">See a list of all ratings.</a>
	<br/> <a href="/events/actionsummaries">See a summary of all ratings per action.</a>
	<br/> <a href="/events/summary">See a summary of all rating across all actions</a>
	<h1>Per Action</h1>
	<br/> <a href="/actions/allratings">See a list of all ratings.</a>
	<br/> <a href="/actions/eventsummaries">See a summary of all ratings per event.</a>
	<br/> <a href="/actions/summary">See a summary of all ratings across all events</a>
	
</body>
</html>